<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Piadas V1</title>
</head>
<body>
    <h1>Bem vindo à API de Piadas! V1</h1>
    <h2>End Points:</h2>
    <ul>
        <li>GET - /api/v1/piadas - Retorna uma lista de piadas.</li>
        <li>GET - /api/v1/piadas?categoria=&lt;nomecategoria&gt; - Retorna uma lista de piadas filtradas por categoria.</li>
        <li>GET - /api/v1/piadas/random - Retorna uma piada aleatória.</li>
    </ul>

    <h2>Categorias disponíveis:</h2>
    <ul>
        <li>tecnologia </li>
        <li>educação </li>
        <li>cotidiano </li>
        <li>entretenimento </li>
        <li>animais</li>
        <li>comida</li>
</body>
</html>