<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Piadas V1</title>
</head>
<body>
    <h1>Bem vindo à API de Piadas! V1</h1>
    <p>End Points:</p>
    <ul>
        <li>/api/v1/piadas - Retorna uma lista de piadas.</li>
        <li>/api/v1/piadas?categoria=<nomecategoria> - Retorna uma lista de piadas filtradas por categoria.</li>
        <li>/api/v1/piadas/random - Retorna uma piada aleatória.</li>
    </ul>
</body>
</html>